@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper */

:root {
  --swiper-pagination-color: #ecba46;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-color: #c4c4c4;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bottom: 0px;
}

/* Fonts  */

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

/* Tailwind  */

@layer base {
  body {
    @apply font-Montserrat text-lightGray;
  }

  .subtitle {
    @apply font-extrabold text-[60px] sm:text-[40px] leading-[73px] sm:leading-[49px] text-lightGray border-b-[10px] sm:border-b-[6px] pb-[15px] sm:pb-[11px] z-30  border-potato inline-block;
  }

  .input {
    @apply h-[60px] border border-[#746B61] bg-transparent rounded-[5px] text-white p-[20px] leading-[20px];
  }

  /* FLex */

  .flex_center {
    @apply flex justify-center items-center;
  }

  .flex_start {
    @apply flex justify-start items-start;
  }

  .flex_end {
    @apply flex justify-end items-center;
  }

  .flex_between {
    @apply flex justify-between items-center flex-wrap;
  }
}
